<VirtualHost *:80>
    ServerName www.{{ item }}.com
    ServerAlias {{ item }}.com
    DocumentRoot /var/www/{{ item }}

    <Directory /var/www/{{ item }}>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ item }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item }}_access.log combined
</VirtualHost>
